*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#07061a;
  color:white;
  line-height:1.6;
}

/* YELLOW ACCENT */
span{
  color:#f5b22b;
}

/* NAVBAR */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 80px;
  background:#0c0b22;
  position:sticky;
  top:0;
  z-index:1000;
}

.logo{
  font-size:22px;
  font-weight:bold;
}

nav a{
  color:white;
  margin-left:25px;
  text-decoration:none;
  font-size:14px;
}

nav a:hover{
  color:#f5b22b;
}

/* HERO */
.hero{
  padding:100px 80px;
  max-width:700px;
}

.welcome{
  color:#f5b22b;
}

.hero h1{
  font-size:48px;
  margin:15px 0;
}

.hero-text{
  opacity:0.85;
}

/* BUTTON */
.btn{
  background:#f5b22b;
  border:none;
  padding:12px 22px;
  margin-top:20px;
  cursor:pointer;
  border-radius:6px;
  font-weight:bold;
}

.btn:hover{
  opacity:0.85;
}

/* ABOUT */
.about{
  display:flex;
  gap:60px;
  padding:80px;
  align-items:center;
  justify-content:center;
}

.about-img{
  width:350px;
  height:350px;
  border:8px solid #f5b22b;
  border-radius:25px;
}

.about-content{
  max-width:500px;
}

/* SERVICES + EXPERIENCE + CONTACT */
.services,
.experience,
.contact{
  padding:80px;
  text-align:center;
}

.section-desc{
  max-width:600px;
  margin:20px auto;
  opacity:0.8;
}

/* CARDS */
.cards{
  display:flex;
  gap:30px;
  justify-content:center;
  margin-top:40px;
  flex-wrap:wrap;
}

.card{
  background:#0c0b22;
  padding:30px;
  width:280px;
  border-radius:14px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 15px rgba(245,178,43,0.3);
}

/* CONTACT */
.contact-container{
  display:flex;
  justify-content:center;
  gap:60px;
  margin-top:40px;
  flex-wrap:wrap;
}

.contact-info{
  text-align:left;
}

form{
  display:flex;
  flex-direction:column;
}

form input,
form textarea{
  width:320px;
  padding:12px;
  margin-bottom:15px;
  background:#1c2233;
  border:none;
  color:white;
  border-radius:6px;
}

textarea{
  height:120px;
  resize:none;
}

/* FOOTER */
footer{
  text-align:center;
  padding:50px;
  background:#0c0b22;
}

.socials span{
  margin:10px;
  font-size:22px;
  cursor:pointer;
}

/* RESPONSIVE */
@media(max-width:768px){

  header{
    padding:20px;
    flex-direction:column;
  }

  .hero{
    padding:60px 20px;
  }

  .about{
    flex-direction:column;
    padding:40px 20px;
  }

  .services,
  .experience,
  .contact{
    padding:40px 20px;
  }

  nav{
    margin-top:10px;
  }
}
